h1 {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  font-family: Courier New, monospace;
  font-weight: bold;
}
#game {
  display: block;
  margin: auto;
}
#reactionData > *{
  display: none;
}
