h1 {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  font-family: Courier New, monospace;
  font-weight: bold;
}
#game {
  display: none;
  margin: auto;
}
#contact > *{
  display: none;
}
#initialform{
  display: block;
  margin: auto;
  text-align: center;
  font-family: Courier New, monospace;
  font-weight: bold;
}
#initialform > label{
  display:block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

#initialform > button{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
